/*CV PAGE*/
:root {
    --text-color:white;
}
p, h1, h2, h3, h4, i {
    color: black;
}
body {
    background-color: var(--background-color-secondary);
}
/******************************************Header - presentation***************************************/
.presentation {
    display: flex;
    justify-content: space-evenly;
}
.adresse h2 {
    font-size: 25px;
}
.photo-profil {
    width: 25%;
    box-sizing: border-box;
}
.photo-profil img {
    border-radius: 100%;
}
/******************************************Contenu***************************************/
.contenu {
    display: flex;
    flex-direction: column;
}
.contenu h2 {
    margin: 10%;
}
/******************************************Formations***************************************/
.image-training{
    margin: auto;
}
/******************************************Competences***************************************/
.competence-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/******************************************Experiences***************************************/
.experience-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
}
.experience-container h2 {
    text-align: left;
    margin-bottom: 2%;
}
.experience-item {
    width: 100%;
    margin-bottom: 5%;
}
.experience-item h3 {
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
}
.experience-item-container {
    display: flex;
    align-items: center;
    margin: 0 20% 0 20%;
}
.experience-item-container img {
    width: 10%;
}
.experience-item-2 {
    margin: 4%;
}
/******************************************Liens reseaux***************************************/
.link-container {
    position: fixed;
    top: 25%;
    left: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link-container a {
    width: 40%;
}
.link-container img{
    width: 90%;
}
/*****************************************Footer*********************************************/
footer p {
    color: grey;
}
/******************************************Responsive general et specifique different de 950px***************************************/
@media screen and (max-width:768px) {
    .contenu p {
        font-size: 15px;
    }
    .contenu b {
        font-size: 20px;
    }
}
@media screen and (max-width:768px) {
    .contenu p {
        font-size: 15px;
    }
    .contenu b {
        font-size: 20px;
    }
}
@media screen and (max-width:1300px) {
    .contenu p {
        font-size: 15px;
    }
    .contenu b {
        font-size: 20px;
    }
    .competence-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 5% 0 5%;
    }   
    li {
        font-size: 15px;
    } 
}
@media screen and (max-width:1124px) {
    .experience-item-container {
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
    .experience-item-container p {
        text-align: center;
    }
}
/******************************************Responsive presentation***************************************/
@media screen and (max-width:950px) {
    *{
        color: var(--text-color);
    }
    .presentation, .adresse {
        flex-direction: column;
        justify-content: center;
        margin: 0 5% 0 5%;
    }
    .photo-profil {
        align-self: center;
        width: 40%;
    }
    
    /*********************************************contenu responsive******************************************************/
    .contenu h2 {
        text-align: center;
        margin-left: 5%;
        font-size: 50px;
    }
    .image-training{
        margin: 5% 0 5% 0;
    }
    /*********************************************competence responsive******************************************************/
    .competence-container p {
        text-align: justify;
        font-size: 13px;
    }
    .competence-container b {
        font-size: 15px;
    }
    /*********************************************experience responsive******************************************************/
    
    .experience-container p {
        text-align: center;
    }
    .experience-item {
        width: 95%;
        margin: 5%;
    }
    .experience-item h3 {
        margin-bottom: 2%;
        font-size: 25px;
        font-weight: bold;
    }
    .experience-item-container {
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
    .experience-item-container img {
        width: 50%;
    }
    /*********************************************liens reseaux responsive******************************************************/
    .link-container {
        position: absolute;
        top: 35%;
        left: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .link-container a {
        width:60%;
    }
    .link-container img{
        width: 100%;
    }
}


