body {
    background-color: var(--back-color);
}
#slider {
    margin-top: 1%;
}
.index-presentation h1 {
    padding-top: 0%;
}
.index-presentation h2 {
    font-size: 30px;
    margin: 0 5%;
    color: var(--title-color);
    text-align: center;
}
.carousel {
    background-color: var(--back-color);
    padding-top: 2%;
}
.index-presentation {
    padding-top: 0%;
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%); */
    border: none;
    padding-bottom: 10%;
}
@media screen and (max-width:768px) {
    #slider {
        margin-top: 10%;
    }
    .index-presentation h2 {
        font-size: 15px;
        padding: 0 5%;
    }
    .index-presentation {
        padding-bottom: 30%;
    }
}