
#slider {
    margin-top: 1%;
}
.index-presentation h1 {
    padding-top: 0%;
}
.index-presentation h2 {
    font-size: 30px;
    margin: 0 5%;
    color: var(--title-color);
    text-align: center;
}
.carousel {
    padding-top: 2%;
}
.index-presentation {
    padding-top: 0%;
    border: none;
    padding-bottom: 10%;
}
@media screen and (max-width:768px) {
    #slider {
        margin-top: 10%;
    }
    .index-presentation h2 {
        font-size: 15px;
        padding: 0 5%;
    }
    .index-presentation {
        padding-bottom: 30%;
    }
}